<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%;
    }
.bgimg {
    background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('images/back.jpg');
    height: 850px;
    min-width: 100%;
    
    animation: bgimg 8s linear;
    background-position: center;
    background-size: cover;
}
body{

}
.clearfix{
    clear: both;
}
@keyframes bgimg{
    from {
                top: -10%;
            }
            to {
                top: 0%;
            }
}
.login{
    
    text-align: center;
    margin-left: 40%;
}

</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white"></div>
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Logo
  </div>
  <div class="w3-display-middle modalSize">
    <h1 class="w3-jumbo w3-animate-top" style="text-align:center; color: white">SAMEER FOODIE</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center" style="color: white">My grandfather loved cooking !</p><br>
    <button type="button" class="btn btn-info login" data-toggle="modal" data-target="#myModal">LOGIN</button>
   </div>
   </div> 
  <!-- Modal-->    
    <!-- Large modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Login/Registration </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                            <li><a href="#Registration" data-toggle="tab">Registration</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Login">
                                <form role="form" class="form-horizontal" method="post" action="/login">
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="col-sm-2 control-label">
                                        Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="password" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Login">
                                       &nbsp;&nbsp;&nbsp; <a href="javascript:;">Forgot your password?</a>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="Registration">
                                <form role="form" class="form-horizontal" method="post" action="" onSubmit="return validate(this);">
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Name</label>
                                    <div class="col-sm-10">
                                       
                                        <input type="text" class="form-control" name="name" placeholder="Name" />
                                         
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">
                                        Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="password" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">
                                        Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="password2" placeholder="Re-type password" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Register" onSubmit="return validate(this);">
                                
                                        
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        </div></div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="container" style="margin-top: -100px;position: absolute;height: auto;background-color:;width: 100%;">
    <div class="row">
    
        <div class="well" style="background-color: white;border-top:5px solid #424242;">
            <h1 style="margin: 30px 0 30px 0;" class="animated fadeInUp">ABOUT US</h1><hr style="width: 20%;color: #000000;">
            <h3 class="animated fadeInUp">At Sameer Foodie, we all come to work everyday because we want to solve the biggest problem in the kitchen. Everyone is guessing. Mother's can't figure out which recipes to cook, or how to even make them. They dont't know what the ingredients are and don't even know the best place to buy them.
<br><br>
Throughout the history of households, mother's have used data to make a more informed decision. Our Mission here at Sameer Foodie is to make things easy for these home makers. Today we provide the most dynamic kitchen management webapp because our grandfathers loved Foodie :)</h3>
        </div>
    </div>
    <div class="row" style="background-color: #ccc;height: auto;border-top: 5px solid #424242;position: relative;text-align: center;">
    <div class="container" style="margin-top: 20px">
             
              <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-pinterest fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-instagram fa-3x fa-fw"></i></a>   
              <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
            </span>
      </div><br>
    <hr style="width: 50%;margin: auto;">
<br>      <p>© Copyright 2017 by Sameer Foodie. All rights reserved.</p>
</div>  
</div>
<script type="text/javascript">
    var checkName=/^[A-Za-z]{3,20}$/;
    var checkPassword =  /^[A-Za-z0-9!@#$%^&*()_]{6,20}$/;
    function validate(form){
        var name=form.name.value;
        var password=form.password.value;
        var password2=form.password2.value;

        if(!checkName.test(name)){
            alert("Enter a valid name");
        }
        if(!checkPassword.test(password)){
            alert("Enter password between 6-20 characters.");
        }
        if(password2!=password){
            alert("The passwords do not match.Please try again.");
        }
    }
</script>


</body>
</html>
