<!DOCTYPE html>
<html>
<head>
  <title>Slide Menu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script src="javascripts/chat_panel.js"></script>
  <script src="javascripts/chat_popup.js"></script>
  <script src="javascripts/chat.js"></script>

  <script type="text/javascript">
  var socket = io();

  	var user="<%=_id%>";
      var items = <%- JSON.stringify(items) %>;
  	setUser(user);

    $(document).ready(function(){


      $('.item_list').click(function(){
        alert($(this).data('target'));
      });
      $('#search').keyup(function(){
      	if ($(this).val()){
              var data = {
                  user_id: user,
                  val: $(this).val()
              }
        	socket.emit('searchFoodItems',data);
      	}

      	$(document).on('click', '.search_list',function(){
      		var id=$(this).data('target');
      		var name=$(this).html();
      		$('#search').val(name);	
            $('#search').attr('data-target', id);
      		$('.addIngredients').html('');
            //  console.log(name, id);
        });
      });
  
   		

      socket.on('displayFoodItems', function(data){
          // TODO: Handle search data
          $('.addIngredients').html('');
           for (var i in data) {
              console.log(data[i].name);
              var tr='<li class="search_list" data-target='+data[i].id+'>'+data[i].name+'</li></a>'
              $('.addIngredients').append(tr);
          }
      });

      socket.on('addedFoodItem', function(data) {
          console.log(data);
          if (!data.error) {
              refreshIngredients(data.items);
          }
      });

      socket.on('removedFoodItem', function(data) {
          console.log(data);
          if (!data.error) {
              refreshIngredients(data.items);
          }
      });

      function refreshIngredients(items) {
              // TODO: Append to data
              $('#kitchen').html('');
              for (var i in items) {
                  var ingredient = items[i].name;
              var item_id = items[i].item_id;
  			var quan = items[i].quantity;
              /*
              Edit code
              <div data-toggle="modal" data-target="#modalEdit" item-id="' + item_id + '" class="edit_btn glyphicon glyphicon-pencil pull-right" data-toggle="tooltip" data-placement="bottom" data-original-title="Add new ingredient"></h6></div>
              */
  			var tr='<div class="container-fluid"><div class="delete_btn glyphicon glyphicon-trash pull-right" item-id="' + item_id + '" data-toggle="tooltip" data-placement="bottom" data-original-title="Delete selected ingredient"></div></h6><h4>'+ingredient+'</h4><h6><p id="quant">'+quan+'</p><hr>';
       	
  			$('#kitchen').append(tr);
              }
          }

          refreshIngredients(items);
    });
  </script>
  
  <script type="text/javascript">
  	$(document).ready(function(){

  		$("body").tooltip({   
		    selector: "[data-toggle='tooltip']",
		    container: "body"
		});

  		$('#addButton').click(function(){
  			var ingredient = $('#search').val();
              var item_id = $('#search').attr('data-target');
  			var quan = $('#quantity').val();
              console.log('Here:',ingredient, item_id, quan);

  			$('#modalAdd').modal('hide');
            
            var obj = {
                item_id: item_id,
                item_name: ingredient,
                quantity: quan,
                user_id: user
            }

            socket.emit('addFoodItem', obj);
  		});

      	$('#saveButton').click(function(){
        	var quan=$('#equantity').val();
       	 	$("#quant").html(quan);
       	 	$('#modalEdit').modal('hide');

      	});

      	$(document).on('click', '.delete_btn',function(){
            var item_id = $(this).attr('item-id');
            var obj = {
                item_id: item_id,
                user_id: user
            }

            socket.emit('removeFoodItem', obj);
            $(this).parent().hide();
      	});
  	});

  </script>

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sameer Foodie</a>
      <button type="button" class="navbar-toggle btn" data-toggle="collapse" data-target="#myNavbar">
        <i class="glyphicon glyphicon-chevron-down"></i>
      </button>
      <button type="button" class="btn" id="right-panel-button" >
        <i class="glyphicon glyphicon-chevron-left"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Recipes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

 <%
  var experts = [
      {
          name:"Sayli Uttarwar",
          id:"sayli"
      },
      {
          name: "Simran Gambani",
          id: "simran"
      },
      {
        name: "Tej Thakkar",
        id: "tej"
      }
  ];
  %>

<div id="wrapper">

	<div id="main-content-wrapper">
  
	  	<div class="container" style="display: inline-block;">	
			<div id="head" class="col-md-4 ingredients" style="background-color: #ddd; margin: 3% 0% 0 5%; ">
				<h3>Ingredients in your kitchen</h3>
				<hr>
				
				<div class="container-fluid center">
					<div data-toggle="modal" data-target="#modalAdd" class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Add new ingredient"></div>
				</div>

                <div id="kitchen">
                </div>
			</div>
		</div>
	</div>
 
    <div id="modalAdd" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    area-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
        	   	<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" area-hidden="true">
                    ×</button>
                    <h4 class="modal-title" id="myModalLabel">
                    Add new ingredient </h4>
            	</div>
            	<div class="modal-body">
	            	<input class="form-control focusedInput" type="text" placeholder="Enter the name of ingredient" id="search" required><br>
	            	<nav class="adding">
	            		<ul class="addIngredients">
	            		
	            			
	            		</ul>
	            	</nav>
	            	<input class="form-control focusedInput" type="text" placeholder="Enter Quantity" id="quantity" required><br>
	    		    <button type="button" class="btn btn-primary-info center" id="addButton">ADD</button>
			    </div>
		    </div>
	    </div>
  	</div>

    <div id="modalEdit" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	          	<div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	                    ×</button>
	                 <h4 class="modal-title" id="myModalLabel">
	                    Edit Quantity</h4>
	            </div>
	            <div class="modal-body">
	            	<input class="form-control focusedInput" type="text" placeholder="Enter Quantity" id="equantity"><br>
	            	<button type="button" class="btn btn-primary-info center" id="saveButton">SAVE CHANGES</button>
	      		</div>
	    	</div>
	  	</div>
	</div>



  	<div class="right-panel">
    	<div class="right-panel-header">
      		EXPERTS
    	</div>

	    <% for(var i in experts) {%>
	    <div class="expert" data-target='<%= experts[i].id %>'>
	        <img width="30" height="30" src="images/1.jpg" />
	        <span><%= experts[i].name%></span>
	    </div>
	     <% }%>
	</div>


</div>

</body>
</html>