<!DOCTYPE html>
<html>
<head>
  <title>individual recipe</title>
</head>
<body style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/cooking.png); background-repeat: no-repeat; background-size: cover;">
<style type="text/css">
  
  .b{
    border: solid;
  }
  .set{
    height: 300px;
    width: 500px;
  }
  /*.hor{
    display: inline-block;
  }*/
  .floating-box {
    display: inline-block;
    width: 500px;
    height: 300px;
    margin: 0px;  
}
.ad{
  width: 790px;
}
.c{
  height: 200px;
}

.abc{
  width: 1290px;
  height: 300px;
  margin: 0px;
}

</style>
<div>
  <p style="text-align: center; color: white; font-size: 35px;"> <%=recipe.name %> <p>
</div>
<div>
</div>
    <p style="color: white; font-size: 23px;"> Category:  <%=recipe.category %> </p>
<div>
  <p style="color: white; font-size: 23px;"> Ingredients: <% for (var i in recipe.ingredients){  %> </p> 
</div>
<div class="abc " style="color: white; font-size: 23px;">Steps: <br> </div>

<div class="c">
  <p style="color: white; font-size: 23px;">Reviews: <% for (var i in recipe.ingredients){  %> </p>
</div>
<script type="text/javascript">
  var $array = [];
  
  function send(){

  }
</script>
</body>
</html>