<!DOCTYPE html>
<html>
<head>
  <title>individual recipe</title>
</head>
<body style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../images/cooking.png); background-repeat: no-repeat; background-size: cover;">
<style type="text/css">
  
  .b{
    border: solid;
  }
  .set{
    height: 300px;
    width: 500px;
  }
  /*.hor{
    display: inline-block;
  }*/
  .floating-box {
    display: inline-block;
    width: 500px;
    height: 300px;
    margin: 0px;  
}
.ad{
  width: 790px;
}
.c{
  height: 200px;
}

.abc{
  width: 1290px;
  height: 300px;
  margin: 0px;
}

</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Sameer Foodie</a>
      <button type="button" class="navbar-toggle btn" data-toggle="collapse" data-target="#myNavbar">
        <i class="glyphicon glyphicon-chevron-down"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/users">Profile</a></li>
        <li class="active"><a href="#">Manage my meal</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <p style="text-align: center; color: white; font-size: 35px;"> <%=recipe.name %> <p>
</div>
<div>
</div>
    <p style="color: white; font-size: 23px;"> Category:  <%=recipe.category %> </p>
    <hr>
<div>
  <p style="color: white; font-size: 23px;"> Ingredients: </p>
  <% for (var j = 0; j < recipe.ingredients.length; j++) { %>
                <span style='font-size: 22px; color: white'><%= recipe.ingredients[j].name %>, </span>
          <% } %> 
</div>
<hr>
<div class="abc " style="color: white; font-size: 23px;">Steps: <br>
<% for (var j = 0; j < recipe.steps.length; j++) { %>
                <span style='font-size: 18px; color: white'><%= recipe.steps[j] %></span><br>
          <% } %> 
</div>

<div class="c">
  <p style="color: white; font-size: 23px;">Reviews: </p>
</div>

</body>
</html>